.linkedElement {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.linkedElement .popup {
    border: 5px;  
    overflow: auto; 
    max-width: 200px; 
    position: absolute; 
    text-align: center; 
    border-color: aqua; 
    cursor: default;
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    left: 20%
    /* margin-left: -80px; */
}

.linkedElement .popup::after {
    content: "";
    position: absolute;
    /*top: 100%;*/
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.linkedElement .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}